p{ display:table; } /* simule le comportement d'une table avec des colonnes */

span{
display: table-cell;
 vertical-align:middle; 
}

img{
 margin: 0 20px 0 0;
 width : 700px;
height : 200px;
}

body{ 
margin: 0;

}


nav ul{  
padding: 0.5em 0; 
margin: 0;  
background : #0000FF;
text-align: center;
}  
nav li {  
display: inline;  
}
nav a {  
margin: 0 3em; 
 background : #808080;
color: #fff;
text-decoration: none;
}  
